# Daily Scrapping

This notebook a routine to scrap the data from Yahoo daily

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from datetime import datetime
import numpy as np
import pandas as pd

from dashboards.yahoo_parser import YahooParser

## Get the Portfolio

To get the tickers in the portfolio, we are going to export the "Posição na Carteira" table from `statusinvest`.<br>
https://statusinvest.com.br/carteira/patrimonio

In [8]:
columns={'ATIVO': 'Ticker', 'PREÇO MÉDIO': 'AvgPrice', 'PREÇO ATUAL': 'Price', 'QUANTIDADE': 'Qty'}
portfolio = pd.read_csv('CarteiraStatusInvest.csv', encoding='utf-8', sep=';', decimal=',')[columns.keys()]
portfolio = portfolio.rename(columns=columns)
portfolio['Qty'] = portfolio['Qty'].astype('int')
portfolio['AvgPrice'] = portfolio['AvgPrice'].round(2)
portfolio

    Ticker  AvgPrice  Price   Qty     Volume
0    ABCB4     14.61  23.21  3128   72600.88
1    AGRO3     26.17  26.72   500   13360.00
2    AURE3     11.79  11.11  3200   35552.00
3    BBAS3     21.28  28.35  4950  140332.50
4    BBSE3     28.81  36.42  3700  134754.00
5    BLAU3     26.45  13.95   500    6975.00
6   BRBI11     16.15  15.80   700   11060.00
7    BRKM5     29.85  18.19   900   16371.00
8    CSAN3     13.63  13.06  1100   14366.00
9    EGIE3     33.90  44.13  1300   57369.00
10   ELET6     46.05  46.17   400   18468.00
11   ETER3     10.22   5.81  3250   18882.50
12   EZTC3     16.37  14.22  1000   14220.00
13   FLRY3     23.18  16.68  2100   35028.00
14   IRBR3     50.84  47.74   345   16470.30
15   ITSA3     10.61  11.24  4273   48028.52
16   ITSA4     10.46  11.25  1827   20553.75
17  KLBN11     18.81  21.71  3580   77721.80
18   LEVE3     24.13  30.85   500   15425.00
19   MOVI3     19.44   7.05  1000    7050.00
20   NEOE3     17.24  19.50  1100   21450.00
21   PETR3     14.79  40.82   100    4082.00
22   PETR4     34.34  37.18   300   11154.00
23   RDOR3     44.93  34.07   229    7802.03
24   SANB3     13.46  14.66  4500   65970.00
25  TAEE11     27.19  35.26  2600   91676.00
26   TASA4     12.87  11.18  3200   35776.00
27   TRPL4     23.00  24.85  1600   39760.00
28   TTEN3      9.85  12.33  1800   22194.00
29   UNIP6     49.66  47.20   400   18880.00
30   VALE3     67.80  58.15  1440   83736.00
31   VIVT3     36.77  55.27   500   27635.00
32   WIZC3      8.63   5.99  2200   13178.00

In [9]:
yahoo = YahooParser(headless=True)

alternate_tickers = {'ITSA3': {'ticker': 'ITSA4'}, 'SANB3': {'ticker': 'SANB11', 'factor': 0.5}}

results = yahoo.get_tickers(portfolio['Ticker'].iloc[:2], alternate_tickers=alternate_tickers)

Fetching ticker ABCB4
Fetching ticker AGRO3

In [10]:
results

       quote  recomendation    low   mean  high  analists
ABCB4  23.60            2.5  21.83  25.02  28.0       8.0
AGRO3  26.92            2.5  29.70  36.35  43.0       2.0

In [11]:
portfolio = pd.concat([portfolio.set_index('Ticker'), results], axis=1)

In [13]:
portfolio['Price'] = portfolio['quote']
portfolio = portfolio.drop(columns='quote')
portfolio['Volume'] = portfolio['Qty'] * portfolio['Price']

In [14]:
portfolio

,AvgPrice,Price,Qty,Volume,recomendation,low,mean,high,analists
ABCB4,14.61,23.60,3128,73820.8,2.5,21.83,25.02,28.0,8.0
AGRO3,26.17,26.92,500,13460.0,2.5,29.70,36.35,43.0,2.0
AURE3,11.79,NaN,3200,NaN,NaN,NaN,NaN,NaN,NaN
BBAS3,21.28,NaN,4950,NaN,NaN,NaN,NaN,NaN,NaN
BBSE3,28.81,NaN,3700,NaN,NaN,NaN,NaN,NaN,NaN
BLAU3,26.45,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN
BRBI11,16.15,NaN,700,NaN,NaN,NaN,NaN,NaN,NaN
BRKM5,29.85,NaN,900,NaN,NaN,NaN,NaN,NaN,NaN
CSAN3,13.63,NaN,1100,NaN,NaN,NaN,NaN,NaN,NaN
EGIE3,33.90,NaN,1300,NaN,NaN,NaN,NaN,NaN,NaN
ELET6,46.05,NaN,400,NaN,NaN,NaN,NaN,NaN,NaN
ETER3,10.22,NaN,3250,NaN,NaN,NaN,NaN,NaN,NaN
EZTC3,16.37,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN
FLRY3,23.18,NaN,2100,NaN,NaN,NaN,NaN,NaN,NaN
IRBR3,50.84,NaN,345,NaN,NaN,NaN,NaN,NaN,NaN
ITSA3,10.61,NaN,4273,NaN,NaN,NaN,NaN,NaN,NaN
ITSA4,10.46,NaN,1827,NaN,NaN,NaN,NaN,NaN,NaN
KLBN11,18.81,NaN,3580,NaN,NaN,NaN,NaN,NaN,NaN
LEVE3,24.13,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN
MOVI3,19.44,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN
NEOE3,17.24,NaN,1100,NaN,NaN,NaN,NaN,NaN,NaN
PETR3,14.79,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN
PETR4,34.34,NaN,300,NaN,NaN,NaN,NaN,NaN,NaN
RDOR3,44.93,NaN,229,NaN,NaN,NaN,NaN,NaN,NaN
SANB3,13.46,NaN,4500,NaN,NaN,NaN,NaN,NaN,NaN
TAEE11,27.19,NaN,2600,NaN,NaN,NaN,NaN,NaN,NaN
TASA4,12.87,NaN,3200,NaN,NaN,NaN,NaN,NaN,NaN
TRPL4,23.00,NaN,1600,NaN,NaN,NaN,NaN,NaN,NaN
TTEN3,9.85,NaN,1800,NaN,NaN,NaN,NaN,NaN,NaN
UNIP6,49.66,NaN,400,NaN,NaN,NaN,NaN,NaN,NaN
VALE3,67.80,NaN,1440,NaN,NaN,NaN,NaN,NaN,NaN
VIVT3,36.77,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN
WIZC3,8.63,NaN,2200,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
portfolio['analists'] = portfolio['analists'].replace('', 0).fillna(0).astype('int')

portfolio

,AvgPrice,Price,Qty,Volume,recomendation,low,mean,high,analists
ABCB4,14.61,23.21,3128,72600.88,2.5,21.83,25.02,28.0,8
AGRO3,26.17,26.72,500,13360.00,2.5,29.70,36.35,43.0,2
AURE3,11.79,11.11,3200,35552.00,NaN,NaN,NaN,NaN,0
BBAS3,21.28,28.35,4950,140332.50,NaN,NaN,NaN,NaN,0
BBSE3,28.81,36.42,3700,134754.00,NaN,NaN,NaN,NaN,0
BLAU3,26.45,13.95,500,6975.00,NaN,NaN,NaN,NaN,0
BRBI11,16.15,15.80,700,11060.00,NaN,NaN,NaN,NaN,0
BRKM5,29.85,18.19,900,16371.00,NaN,NaN,NaN,NaN,0
CSAN3,13.63,13.06,1100,14366.00,NaN,NaN,NaN,NaN,0
EGIE3,33.90,44.13,1300,57369.00,NaN,NaN,NaN,NaN,0
ELET6,46.05,46.17,400,18468.00,NaN,NaN,NaN,NaN,0
ETER3,10.22,5.81,3250,18882.50,NaN,NaN,NaN,NaN,0
EZTC3,16.37,14.22,1000,14220.00,NaN,NaN,NaN,NaN,0
FLRY3,23.18,16.68,2100,35028.00,NaN,NaN,NaN,NaN,0
IRBR3,50.84,47.74,345,16470.30,NaN,NaN,NaN,NaN,0
ITSA3,10.61,11.24,4273,48028.52,NaN,NaN,NaN,NaN,0
ITSA4,10.46,11.25,1827,20553.75,NaN,NaN,NaN,NaN,0
KLBN11,18.81,21.71,3580,77721.80,NaN,NaN,NaN,NaN,0
LEVE3,24.13,30.85,500,15425.00,NaN,NaN,NaN,NaN,0
MOVI3,19.44,7.05,1000,7050.00,NaN,NaN,NaN,NaN,0
NEOE3,17.24,19.50,1100,21450.00,NaN,NaN,NaN,NaN,0
PETR3,14.79,40.82,100,4082.00,NaN,NaN,NaN,NaN,0
PETR4,34.34,37.18,300,11154.00,NaN,NaN,NaN,NaN,0
RDOR3,44.93,34.07,229,7802.03,NaN,NaN,NaN,NaN,0
SANB3,13.46,14.66,4500,65970.00,NaN,NaN,NaN,NaN,0
TAEE11,27.19,35.26,2600,91676.00,NaN,NaN,NaN,NaN,0
TASA4,12.87,11.18,3200,35776.00,NaN,NaN,NaN,NaN,0
TRPL4,23.00,24.85,1600,39760.00,NaN,NaN,NaN,NaN,0
TTEN3,9.85,12.33,1800,22194.00,NaN,NaN,NaN,NaN,0
UNIP6,49.66,47.20,400,18880.00,NaN,NaN,NaN,NaN,0
VALE3,67.80,58.15,1440,83736.00,NaN,NaN,NaN,NaN,0
VIVT3,36.77,55.27,500,27635.00,NaN,NaN,NaN,NaN,0
WIZC3,8.63,5.99,2200,13178.00,NaN,NaN,NaN,NaN,0

In [15]:
portfolio = portfolio.replace('', np.nan)	
portfolio['Date'] = datetime.now().strftime('%Y-%m-%d')
portfolio['Upside'] = (portfolio['mean'] / portfolio['Price']) - 1

In [16]:

portfolio['Upside'] = ((100*portfolio['Upside']).round(1)).astype('str') + '%'

In [17]:
portfolio.reset_index().rename(columns={'index': 'Stock'})\
    .to_json(f'./data/portfolio_{datetime.now().strftime("%Y%m%d")}.json', orient='records')

In [171]:
pd.read_json(f'./data/portfolio_{datetime.now().strftime("%Y%m%d")}.json', orient='records')

,Stock,AvgPrice,Price,Qty,Volume,recomendation,low,mean,high,analists,Date,Upside
0,ABCB4,14.61,23.21,3128,72600.88,2.5,21.830,25.020,28.00,8,2024-09-13,7.8%
1,AGRO3,26.17,26.72,500,13360.00,2.5,29.700,36.350,43.00,2,2024-09-13,36.0%
2,AURE3,11.79,11.11,3200,35552.00,2.6,12.000,14.720,17.00,13,2024-09-13,32.5%
3,BBAS3,21.28,28.35,4950,140332.50,1.8,17.500,34.000,45.00,14,2024-09-13,19.9%
4,BBSE3,28.81,36.42,3700,134754.00,2.7,30.000,37.150,42.00,12,2024-09-13,2.0%
5,BLAU3,26.45,13.95,500,6975.00,3.3,12.000,16.550,26.00,6,2024-09-13,18.6%
6,BRBI11,16.15,15.80,700,11060.00,1.8,18.000,19.140,20.51,6,2024-09-13,21.1%
7,BRKM5,29.85,18.19,900,16371.00,2.7,20.000,26.390,35.00,9,2024-09-13,45.1%
8,CSAN3,13.63,13.06,1100,14366.00,2.2,16.500,23.690,31.80,9,2024-09-13,81.4%
9,EGIE3,33.90,44.13,1300,57369.00,3.3,38.000,44.150,50.00,13,2024-09-13,0.0%
10,ELET6,46.05,46.17,400,18468.00,1.9,53.000,58.070,69.00,7,2024-09-13,25.8%
11,ETER3,10.22,5.81,3250,18882.50,3.0,NaN,NaN,NaN,0,2024-09-13,nan%
12,EZTC3,16.37,14.22,1000,14220.00,3.1,14.000,19.890,32.00,9,2024-09-13,39.9%
13,FLRY3,23.18,16.68,2100,35028.00,2.4,16.000,19.060,22.00,8,2024-09-13,14.3%
14,IRBR3,50.84,47.74,345,16470.30,2.6,29.550,41.110,46.00,5,2024-09-13,-13.9%
15,ITSA3,10.61,11.24,4273,48028.52,1.8,11.300,12.750,14.00,4,2024-09-13,13.4%
16,ITSA4,10.46,11.25,1827,20553.75,1.8,11.300,12.750,14.00,4,2024-09-13,13.3%
17,KLBN11,18.81,21.71,3580,77721.80,2.5,20.000,25.790,31.00,14,2024-09-13,18.8%
18,LEVE3,24.13,30.85,500,15425.00,3.0,33.000,33.000,33.00,1,2024-09-13,7.0%
19,MOVI3,19.44,7.05,1000,7050.00,2.3,7.000,11.760,17.60,8,2024-09-13,66.8%
20,NEOE3,17.24,19.50,1100,21450.00,1.8,26.000,29.370,37.00,10,2024-09-13,50.6%
21,PETR3,14.79,40.82,100,4082.00,2.2,43.000,45.780,49.00,8,2024-09-13,12.2%
22,PETR4,34.34,37.18,300,11154.00,2.2,33.000,43.390,49.00,10,2024-09-13,16.7%
23,RDOR3,44.93,34.07,229,7802.03,1.9,33.000,37.560,43.00,9,2024-09-13,10.2%
24,SANB3,13.46,14.66,4500,65970.00,3.0,11.615,14.695,17.00,12,2024-09-13,0.2%
25,TAEE11,27.19,35.26,2600,91676.00,3.8,28.000,34.680,37.80,10,2024-09-13,-1.6%
26,TASA4,12.87,11.18,3200,35776.00,2.0,26.940,26.940,26.94,1,2024-09-13,141.0%
27,TRPL4,23.00,24.85,1600,39760.00,3.5,14.000,24.570,32.00,12,2024-09-13,-1.1%
28,TTEN3,9.85,12.33,1800,22194.00,1.7,13.000,14.740,17.00,7,2024-09-13,19.5%
29,UNIP6,49.66,47.20,400,18880.00,NaN,95.000,95.000,95.00,1,2024-09-13,101.3%
30,VALE3,67.80,58.15,1440,83736.00,2.4,68.300,87.350,116.98,13,2024-09-13,50.2%
31,VIVT3,36.77,55.27,500,27635.00,2.2,43.000,57.850,64.00,13,2024-09-13,4.7%
32,WIZC3,8.63,5.99,2200,13178.00,2.7,7.000,8.330,9.50,3,2024-09-13,39.1%